.blur_bg_main {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
  z-index: 10;
  display: none;
}

.blur_bg_main_active {
  display: block;
}
