.about_us_section {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 160px;
}

.about_us_inside {
  display: flex;
  justify-content: space-between;
}

.about_us_left_image {
  width: 700px;
  height: auto;
  border-radius: 20px;
}

.about_us_svg_image {
  margin-top: 0px;
}

.about_us_right_content {
  margin-left: 80px;
}

.about_us_text {
  color: rgb(223, 124, 11);
  font-weight: bold;
}

.about_us_restaurant_name {
  font-weight: bold;
}

.about_us_description {
  margin-top: 20px;
  line-height: 28px;
}

.about_us_list_point1 {
  margin-top: 25px;
}

.about_us_list_point1:last-child {
  margin-bottom: 40px;
}

.about_us_list_point2 {
  margin-top: 18px;
}

.about_us_list_point3 {
  margin-top: 18px;
  margin-bottom: 40px;
}

.about_us_list_point_icon {
  color: rgb(223, 124, 11);
  margin-right: 10px;
}

.about_us_list_point_name {
  font-size: 17px;
}

.about_us_read_more_btn {
  background-color: black;
  text-decoration: none;
  color: white !important;
  padding: 10px 25px;

  border-radius: 6px;
}

.about_us_numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

.about_us_menu_numbers_div,
.about_us_stuff_numbers_div,
.about_us_customer_numbers_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about_us_numbers_vertical_line {
  height: 60px;
  width: 2px;
  background-color: rgb(216, 215, 215);
  margin-top: -10px;
}

.about_us_menu_numbers,
.about_us_stuff_numbers,
.about_us_customer_numbers {
  font-size: 22px;
  font-weight: bold;
  line-height: 16px;
}

.about_us_menu_text,
.about_us_stuff_text,
.about_us_customer_text {
  font-size: 17px;
  color: gray;
  font-weight: bold;
}

#welcome_dot1,
#welcome_dot2 {
  animation: welcome_dot1 0.8s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
  transform: scale(0);
}

@keyframes welcome_dot1 {
  100% {
    transform: scale(1);
  }
}

#welcome_text {
  animation: welcome_text 0.8s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
  transform: scale(0);
}

@keyframes welcome_text {
  100% {
    transform: scale(1);
  }
}

#door {
  animation: door 0.8s ease-in-out alternate infinite;
  transform-origin: left;
  transform-box: fill-box;
  animation-duration: 0.8s;
}

@keyframes door {
  100% {
    transform: rotateY(-50deg);
  }
}

#boy1_full_body {
  animation: boy1_full_body 0.8s ease-in-out alternate-reverse infinite;
  transform-origin: center;
  transform-box: fill-box;
  animation-duration: 0.8s;
}

@keyframes boy1_full_body {
  100% {
    transform: translateX(-130px);
  }
}

#boy1_right_hand {
  animation: boy1_right_hand 0.8s ease-in-out alternate infinite;
  transform-origin: right;
  transform-box: fill-box;
  animation-duration: 0.8s;
}

@keyframes boy1_right_hand {
  100% {
    transform: rotateZ(-5deg);
  }
}

#boy1_head {
  animation: boy1_head 0.8s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes boy1_head {
  100% {
    transform: rotateZ(8deg);
  }
}

#boy1_left_hand {
  animation: boy1_phone 0.8s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes boy1_phone {
  100% {
    transform: rotateZ(-17deg) translateY(6px);
  }
}

#boy1_body {
  animation: boy1_body 0.8s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes boy1_body {
  100% {
    transform: translateY(6px);
  }
}

#boy1_left_leg {
  animation: boy1_left_leg 0.6879s linear alternate infinite;
  transform-origin: right;
  transform-box: fill-box;
}

@keyframes boy1_left_leg {
  100% {
    transform: rotateZ(28deg) translateX(-90px);
  }
}

#boy1_right_leg {
  animation: boy1_right_leg 0.6879s linear alternate infinite;
  transform-origin: left;
  transform-box: fill-box;
}

@keyframes boy1_right_leg {
  100% {
    transform: rotateZ(-20deg) translateX(60px);
  }
}

#leaves1,
#leaves2,
#leaves10,
#leaves11,
#leaves12,
#leaves13,
#flower1,
#flower3 {
  animation: leaves1 0.8s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes leaves1 {
  100% {
    transform: rotateZ(10deg) translateY(18px);
  }
}

#leaves3,
#leaves4,
#leaves5,
#leaves6,
#leaves7,
#leaves8,
#leaves9,
#leaves14,
#leaves15,
#leaves16,
#flower2 {
  animation: leaves3 0.8s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes leaves3 {
  100% {
    transform: rotateZ(-7deg) translateY(18px);
  }
}

#girl1_face,
#girl2_face {
  animation: girl1_head 0.7s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes girl1_head {
  100% {
    transform: rotateZ(5deg) translateY(7px);
  }
}

#girl1_right_hand {
  animation: girl1_right_hand 0.7s ease-in-out alternate infinite;
  transform-origin: left;
  transform-box: fill-box;
}

@keyframes girl1_right_hand {
  100% {
    transform: rotateZ(-25deg) translateY(14px);
  }
}

#girl1_left_leg {
  animation: girl1_left_leg 0.7s ease-in-out alternate infinite;
  transform-origin: left;
  transform-box: fill-box;
}

@keyframes girl1_left_leg {
  100% {
    transform: rotateZ(-15deg) translateY(14px);
  }
}

#girl2_right_leg {
  animation: girl2_right_leg 0.7s ease-in-out alternate infinite;
  transform-origin: right;
  transform-box: fill-box;
}

@keyframes girl2_right_leg {
  100% {
    transform: rotateZ(10deg) translateY(14px);
  }
}

#girl2_whole_hand {
  animation: girl2_whole_hand 0.7s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes girl2_whole_hand {
  100% {
    transform: rotateZ(-15deg) translateY(20px);
  }
}

#old_man_head {
  animation: old_man_head 0.7s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes old_man_head {
  100% {
    transform: rotateZ(4deg) translateY(10px);
  }
}

#old_man_arm_cup {
  animation: old_man_arm 0.7s ease-in-out alternate infinite;
  transform-origin: left;
  transform-box: fill-box;
}

@keyframes old_man_arm {
  100% {
    transform: rotateZ(-25deg) translateY(-20px) translateX(10px);
  }
}

#waiter_right_hand,
#waiter_food_tray,
#waiter_left_hand,
#waiter_body {
  animation: waiter_head 0.7s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes waiter_head {
  100% {
    transform: translateY(12px) rotateZ(4deg);
  }
}

#waiter_beside_bowl {
  animation: waiter_beside_bowl 0.7s linear alternate infinite;
  transform-origin: left;
  transform-box: fill-box;
}

@keyframes waiter_beside_bowl {
  100% {
    transform: rotateZ(-40deg) translateX(-30px);
  }
}

/* #waiter_left_leg {
  animation: waiter_left_leg 0.6879s linear alternate infinite;
  transform-origin: right;
  transform-box: fill-box;
}

@keyframes waiter_left_leg {
  100% {
    transform: rotateZ(-28deg) translateX(90px);
  }
} */

/* #waiter_right_leg {
  animation: waiter_right_leg 0.6879s linear alternate infinite;
  transform-origin: left;
  transform-box: fill-box;
}

@keyframes waiter_right_leg {
  100% {
    transform: rotateZ(28deg) translateX(-80px);
  }
} */

#boy3_head {
  animation: boy3_head 0.8s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes boy3_head {
  100% {
    transform: translateY(8px) rotateZ(5deg);
  }
}

#boy3_hand {
  animation: boy3_hand 0.8s ease-in-out alternate infinite;
  transform-origin: left;
  transform-box: fill-box;
}

@keyframes boy3_hand {
  100% {
    transform: translateY(-31px) rotate(-10deg);
  }
}

#boy3_leg,
#boy3_shoe {
  animation: boy3_leg 0.8s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes boy3_leg {
  100% {
    transform: translateY(-18px);
  }
}

#girl3_head {
  animation: girl3_head 0.7s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes girl3_head {
  100% {
    transform: rotateZ(-8deg) translateY(5px);
  }
}

#girl3_wrist,
#girl3_right_arm {
  animation: girl3_wrist 0.7s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes girl3_wrist {
  100% {
    transform: rotateZ(8deg) translateX(18px);
  }
}

#girl3_shoe {
  animation: girl3_shoe 0.7s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes girl3_shoe {
  100% {
    transform: rotateZ(15deg) translateX(4px);
  }
}

#boy2_head {
  animation: boy2_head 0.6s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes boy2_head {
  100% {
    transform: rotateZ(10deg) translateY(4px);
  }
}

#boy2_right_arm {
  animation: boy2_right_arm 0.8s ease-in-out alternate infinite;
  transform-origin: left;
  transform-box: fill-box;
}

@keyframes boy2_right_arm {
  100% {
    transform: rotateZ(-70deg);
  }
}

#boy2_right_wrist {
  animation: boy2_right_wrist 0.8s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes boy2_right_wrist {
  100% {
    transform: translateX(-62px) translateY(-120px);
  }
}

#boy2_shoe {
  animation: boy2_shoe 0.7s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes boy2_shoe {
  100% {
    transform: rotateZ(-20deg) translateX(4px);
  }
}

#boy2_arm {
  animation: boy2_arm 0.8s ease-in-out alternate infinite;
  transform-origin: right;
  transform-box: fill-box;
}

@keyframes boy2_arm {
  100% {
    transform: rotateZ(8deg) translateY(10px);
  }
}

#big_leaf1 {
  animation: big_leaf1 0.8s ease-in-out alternate infinite;
  transform-origin: left;
  transform-box: fill-box;
}

@keyframes big_leaf1 {
  100% {
    transform: rotateZ(8deg) translateY(10px);
  }
}

#big_leaf2 {
  animation: big_leaf2 0.8s ease-in-out alternate infinite;
  transform-origin: right;
  transform-box: fill-box;
}

@keyframes big_leaf2 {
  100% {
    transform: rotateZ(-8deg) translateY(6px);
  }
}

#big_leaf3 {
  animation: big_leaf3 0.8s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes big_leaf3 {
  100% {
    transform: rotateZ(4deg);
  }
}

/* #old_man_upper_arm {
  animation: old_man_upper_arm 0.7s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes old_man_upper_arm {
  100% {
    transform: rotateZ(10deg);
  }
} */

@media screen and (max-width: 768px) {
  .about_us_section {
    padding-top: 80px;
  }

  .about_us_left_image {
    display: none;
  }

  .about_us_inside {
    display: flex;
    flex-direction: column;
  }

  .about_us_right_content {
    margin-left: 0px;
    margin-top: -100px;
  }

  .about_us_svg_image {
    margin-top: 10px;
    width: 370px;
    height: 370px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
  }
}
