.gallery_section {
  padding-top: 150px;
}

.gallery_header {
  text-align: center;
}

.gallery_main_content {
  padding-top: 20px;
  column-count: 3;
}

/* .gallery_main_content a:nth-child(even) img {
  width: 40%;
  height: 270px;
  margin-right: 10px;
  border-radius: 0px;
  object-fit: cover;
  margin-top: 10px;
}

.gallery_main_content a:nth-child(odd) img {
  width: 20%;
  height: 270px;
  margin-right: 10px;
  border-radius: 0px;
  object-fit: cover;
  margin-top: 10px;
} */

.gallery_img {
  height: auto;
  width: 100%;
  margin-right: 10px;
  border-radius: 10px;
  object-fit: cover;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  /* .gallery_img {
    width: 94vw;
  } */

  .gallery_img {
    height: auto;
    width: 100%;
    margin-right: 0px;
    border-radius: 0px;
    object-fit: cover;
    margin-top: 10px;
  }
}
