.popular_food_main_section {
  padding-top: 160px;
}

.popular_food_main_text_div {
  text-align: center;
}

.popular_food_main_content {
  padding-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* column-count: 4; */
}

.popular_food_main_slider_inside_div {
  background: rgb(255, 255, 255, 0.6);
  padding: 25px 20px 20px 20px;
  width: 250px !important;

  border-radius: 135px 135px 30px 30px;
  box-shadow: 0px 3px 3px 0px rgb(0.2, 0.2, 0.2, 0.2);
  margin-right: 20px;
  margin-top: 120px;
}

.popular_food_main_slider_inside_div:hover {
  transform: translateY(-20px) !important;
  transition: 0.5s !important;
}

.popular_food_main_slider_inside_div:not(:hover) {
  transition: 0.5s !important;
}

/* .popular_food_main_slider_div .slick-slider {
  position: relative;
  z-index: 0;
  width: 100%;
  margin-top: 50px;
  margin-left: 0px;
} */

/* .popular_food_main_slider_inside_div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 65px;
} */

.popular_food_main_slider_title_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px 0px 0px;
}

.popular_food_main_slider_title {
  font-size: 20px;
  font-weight: bold;
}

.popular_food_main_slider_title_section a {
  padding: 3px;
  text-decoration: none;

  margin-top: -11px;
  color: black;
}

.popular_food_main_slider_price_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.popular_food_main_slider_rating_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.popular_food_main_slider_price {
  font-weight: bold;
}

.popular_food_main_slider_rating_star {
  color: orange;
}

.popular_food_main_slider_rating_section a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin-top: -12px;
  margin-left: 5px;
}

.popular_food_main_slider_inside_div img {
  position: absolute;

  border-radius: 50%;
  height: 120px;
  width: auto;
  margin-top: -80px;
  margin-left: 46px;
}

@media screen and (max-width: 768px) {
  .popular_food_main_slider_inside_div {
    margin-right: 0px;
    margin-top: 100px;
  }
}
