.about_us_page_main_div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;

  background: url("https://designhubtechnologies.com/bosphorus/assets/images/bg3.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.about_us_page_container {
  background-color: rgba(255, 255, 255, 0.64);
  min-height: 100vh;
}
