.happy_customer_main_div {
  position: absolute;

  padding: 10px 30px;
  background-color: rgb(255, 255, 255, 0.2);
  border-radius: 15px;
  left: 76%;
  top: 28%;
  z-index: 1;
  box-shadow: 0px 2px 5px 0px rgb(0.2, 0.2, 0.2, 0.2);
}

.happy_customer_text {
  font-weight: bold;
  font-size: 12px;
}

.happy_customer_image0,
.happy_customer_image1,
.happy_customer_image2 {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: 2px solid white;
  object-fit: cover;
}

.happy_customer_image1,
.happy_customer_image2 {
  margin-left: -10px;
}

.happy_customer_image3 {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid white;
  padding: 9px;
  font-size: 14px;
  margin-left: -10px;
  background-color: rgb(0.7, 0.7, 0.7, 0.7);
}

.happy_customer_image3_text {
  font-size: 12px;
  color: white;
}

.happy_customer_upper_logo {
  position: absolute;
  margin-top: -55px;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  font-size: 12px;
  margin-left: 12px;
}

.happy_customer_upper_icon {
  color: orange;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .happy_customer_main_div {
    display: none;
  }
}

@media (min-width: 1200px) and (max-width: 1560px) {
  .happy_customer_main_div {
    left: 84%;
  }
}
