.reservation_section {
  padding-top: 150px;
}

.reservation_header {
  text-align: center;
}

.reservation_booking_text {
  color: rgb(223, 124, 11);
  font-weight: bold;
}

.reservation_h2 {
  font-weight: bold;
}

.reservation_content {
  margin-top: 50px;
}

.reservation_content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.reservation_right_content {
  margin-left: 80px;
}

.reservation_right_content2 {
  margin-top: 6px;
}

.reservation_right_contents {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
  padding-bottom: 50px;
}

.reservation_right_content_date_time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reservation_date_input,
.reservation_time_input,
.reservation_email_input,
.reservation_person_input {
  border-radius: 5px;
  border: 2px solid white;
  background-color: transparent;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  box-shadow: 0px 0px 5px 0px rgb(0.3, 0.3, 0.3, 0.3);
  margin-right: 30px;
  width: 250px;
  outline: none;
}

.reservation_date_input,
.reservation_time_input,
.reservation_person_input {
  display: none;
}

.reservation_email_input,
.reservation_person_input {
  margin-top: 50px;
}

.reservation_btn {
  text-decoration: none;
  color: white !important;
  padding: 12px 35px;
  border-radius: 6px;
  background-color: black;
}

#talk {
  animation: talk 1s ease-in-out alternate infinite;
}

#leaf1,
#leaf2 {
  animation: leaf1 1.5s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

#leaf4,
#boyhead,
#waiterhead {
  animation: leaf3 1.2s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

#girlhead {
  animation: girlhead 1s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

#girlhand {
  animation: girlhand 0.8s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

#waiterhand {
  animation: waiterhand 0.8s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

#waiterhand2 {
  animation: waiterhand2 0.8s ease-in-out alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes talk {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}

@keyframes leaf1 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-10deg);
  }
}

@keyframes leaf3 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(8deg);
  }
}

@keyframes girlhead {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-5deg);
  }
}

@keyframes girlhand {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-10deg);
  }
}

@keyframes waiterhand {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(12deg);
  }
}

@keyframes waiterhand2 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(7deg);
  }
}

/* mui date picker css */
.css-1smlk3z-MuiPaper-root,
.css-1xo7hb2 {
  background-color: rgb(255, 255, 255, 0.5) !important;
  backdrop-filter: blur(10px) !important;
  border-radius: 20px !important;
}

.css-1tihz4g-MuiPaper-root,
.css-a9rw36 {
  background-color: rgb(255, 255, 255, 0.5) !important;
  backdrop-filter: blur(10px) !important;
  border-radius: 20px !important;
}

.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root,
.css-ub1r1 {
  background-color: transparent !important;
}

.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root.Mui-selected,
.css-ub1r1.Mui-selected {
  background-color: #1976d2 !important;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root,
.css-i44wyl {
  width: 250px !important;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root,
.css-1bn53lx {
  height: 40.5px !important;
  margin-top: 6px !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline,
.css-1bn53lx.Mui-error .MuiOutlinedInput-notchedOutline,
.css-igs3ac {
  border: 2px solid white !important;
  box-shadow: 0px 0px 5px 0px rgb(0.3, 0.3, 0.3, 0.3) !important;
  border-radius: 5px !important;
}

.css-1bn53lx:hover .MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input::placeholder {
  color: black !important;
}

/* person select box */
.person_select .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  height: 44px !important;
  margin-top: 14px;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  margin-top: 4px;
}

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  background-color: rgb(255, 255, 255, 0.5) !important;
  backdrop-filter: blur(10px) !important;
  border-radius: 20px !important;
}

.person_text {
  color: gray;
}

@media screen and (max-width: 768px) {
  .reservation_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
  }
  .reservation_content svg {
    height: 230px;
    margin-bottom: 40px;
  }

  .reservation_section {
    padding-top: 140px;
  }

  .reservation_right_content {
    margin-left: 20px;
  }

  .reservation_right_content2 {
    margin-top: 0px;
  }

  .reservation_date_input,
  .reservation_time_input,
  .reservation_email_input,
  .reservation_person_input {
    width: 170px;
    height: 45px;
    outline: none;
  }

  .reservation_date_input,
  .reservation_time_input,
  .reservation_person_input {
    display: block;
  }

  /* .reservation_date_input::-webkit-calendar-picker-indicator {
    background-color: red;
  } */

  .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    display: none !important;
  }

  .css-i44wyl {
    display: none !important;
  }

  /* select person box hidden */
  .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    display: none !important;
  }

  .person_form_control {
    display: none !important;
  }
}
