.header_top_main {
  border-bottom: 1px solid lightgray;
  position: fixed;
  width: 100%;
  z-index: 9;
}

.header_top_main.sticky {
  background-color: rgb(255, 255, 255, 0.35);
  backdrop-filter: blur(30px);
}

.header_top_main_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  flex-wrap: wrap;
}

.header_top_phone,
.header_top_email,
.header_top_open_hours {
  margin-top: 0px;
  font-size: 15px;
  color: rgb(131, 128, 128);
  font-weight: 530;
}

.header_top_phone_div,
.header_top_email_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header_top_phone_icon,
.header_top_mail_icon {
  margin-top: -14px;
  margin-right: 5px;
  color: rgb(131, 128, 128);
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .header_top_phone,
  .header_top_email,
  .header_top_open_hours {
    font-size: 10px;
  }

  .header_top_email {
    display: none;
  }

  .header_top_phone_icon {
    font-size: 12px;
  }

  .header_top_mail_icon {
    display: none;
  }
}
