.hero_main_div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 180px 0px;
}

/* .hero_left_content {
  width: 400px;
} */

.hero_right_content {
  margin-left: 40px;
}

.hero_title {
  font-size: 48px;
  font-weight: bold;
}

.hero_description {
  font-size: 24px;
  color: rgb(48, 47, 47);
  margin-top: 26px;
  margin-bottom: 40px;
}

.hero_view_menu_btn {
  margin-top: 42px;
  background-color: black;
  padding: 10px 45px 10px 45px;
  color: white;
  text-decoration: none;
  border-radius: 15px 60px 15px 60px;
  font-size: 16px;
}

.hero_view_menu_btn:hover {
  color: white;
}

.hero_main_baklava_img {
  height: 400px;
  width: auto;
  border-radius: 50%;
}

.hero_small_slider_div {
  margin-top: 70px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.hero_small_slider_div .slick-slider {
  width: 520px;
}

/* .hero_small_slider_div
  .slick-slider
  .slick-list
  .slick-track
  .slick-slide[data-index="2"]
  + .slick-slide[aria-hidden="false"] {
  margin-right: 0px;
  margin-top: 130px !important;
} */

.hero_small_slider_inside_div {
  background: rgb(255, 255, 255, 0.5);
  padding: 15px 0px 0px 0px;
  width: 100px !important;
  text-align: center;
  border-radius: 15px;
  backdrop-filter: blur(45px);
}

.hero_small_slider_inside_div a {
  color: rgb(112, 112, 112);
}

.hero_small_slider_inside_div p {
  color: rgb(112, 112, 112);
}

.hero_small_slider_div .slick-slider .slick-prev::before {
  position: absolute;
  color: rgb(83, 83, 83);
  font-size: 18px;
  margin-left: 540px;
  top: -15px;
}

.hero_small_slider_div .slick-slider .slick-next::before {
  position: absolute;
  color: rgb(83, 83, 83);
  font-size: 18px;
  margin-left: -10px;
  top: 15px;
}

.hero_large_slider_inside_div {
  background: rgb(255, 255, 255, 0.45);
  padding: 25px 20px 20px 20px;
  width: 250px !important;

  border-radius: 135px 135px 30px 30px;
  box-shadow: 0px 3px 3px 0px rgb(0, 0, 0, 0.2);
  backdrop-filter: blur(40px);
}

.hero_large_slider_div .slick-slider {
  position: absolute;
  z-index: 0;
  width: 820px;
  margin-top: -60px;
  margin-left: -170px;
}

.hero_large_slider_inside_div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 65px;
}

.hero_large_slider_title_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px 0px 0px;
}

.hero_large_slider_title {
  font-size: 20px;
  font-weight: bold;
}

.hero_large_slider_title_section a {
  padding: 3px;
  text-decoration: none;

  margin-top: -11px;
  color: black;
}

.hero_large_slider_price_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero_large_slider_rating_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero_large_slider_price {
  font-weight: bold;
}

.hero_large_slider_rating_star {
  color: orange;
}

.hero_large_slider_rating_section a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin-top: -12px;
  margin-left: 5px;
}

.hero_large_slider_inside_div img {
  position: absolute;

  border-radius: 50%;
  height: 130px;
  width: auto;
  margin-top: -80px;
  margin-left: 42px;
}

/* .hero_large_slider_div .slick-slider .slick-list .slick-track .slick-current {
  margin-top: 60px;
  transition: 0.5s;
} */

.hero_large_slider_div .slick-slider .slick-prev::before {
  position: absolute;
  color: rgb(29, 29, 29);
  font-size: 24px;
  margin-left: 650px;
  margin-top: 150px;
}

.hero_large_slider_div .slick-slider .slick-prev {
  z-index: 1;
}

.hero_large_slider_div .slick-slider .slick-next::before {
  position: absolute;
  color: rgb(29, 29, 29);
  font-size: 24px;
  margin-left: -150px;
  margin-top: 150px;
}

.hero_large_slider_div .slick-slider .slick-list .slick-track {
  height: 350px;
}

/* slide when not active/center*/
.hero_large_slider_div .slick-slider .slick-list .slick-track .slick-slide,
.hero_large_slider_div
  .slick-slider
  .slick-list
  .slick-track
  .slick-slide[aria-hidden="true"]:not(.slick-cloned)
  ~ .slick-cloned[aria-hidden="true"] {
  margin-top: 0px;
  transition: transform 0.5s;
}
/* slide when active/center */
.hero_large_slider_div .slick-slider .slick-list .slick-track .slick-center,
.hero_large_slider_div
  .slick-slider
  .slick-list
  .slick-track
  .slick-slide[aria-hidden="true"]:not([tabindex="-1"])
  + .slick-cloned[aria-hidden="true"] {
  transform: translateY(60px);
}

@media screen and (max-width: 768px) {
  .hero_title {
    font-size: 30px;
  }

  .hero_description {
    font-size: 18px;
  }

  .hero_main_div {
    flex-direction: column;
    padding: 140px 0px;
    margin-left: 20px;
  }

  .hero_right_content {
    margin-left: 0px;
    display: flex;
    /* text-align: center; */
    flex-direction: column;
    justify-content: center;
  }

  .hero_main_baklava_img {
    height: 200px;
    width: auto;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: -20px;
  }

  .hero_small_slider_div .slick-slider {
    width: 330px;
  }

  .hero_small_slider_inside_div {
    background: rgb(255, 255, 255, 0.6);
    padding: 10px 0px 0px 0px;
    width: 80px !important;
    text-align: center;
    border-radius: 15px;
  }

  .hero_small_slider_div .slick-slider .slick-prev::before {
    margin-left: 350px !important;
    margin-top: 0px;
  }

  .hero_large_slider_inside_div {
    width: 68% !important;
    margin-left: 17%;
    margin-right: 17%;
  }

  .hero_large_slider_inside_div img {
    position: absolute;

    border-radius: 50%;
    height: 120px;
    width: auto;
    margin-top: -80px;
    margin-left: 21%;
  }

  .hero_large_slider_div .slick-slider {
    width: 94vw;
    margin-top: 20px;
    margin-left: calc(100% / 2 - 80%);
  }

  /* slide when not active/center*/
  .hero_large_slider_div .slick-slider .slick-list .slick-track .slick-slide,
  .hero_large_slider_div
    .slick-slider
    .slick-list
    .slick-track
    .slick-slide[aria-hidden="true"]:not(.slick-cloned)
    ~ .slick-cloned[aria-hidden="true"] {
    margin-top: 0px;
    transition: transform 0.5s;
  }
  /* slide when active/center */
  .hero_large_slider_div .slick-slider .slick-list .slick-track .slick-center,
  .hero_large_slider_div
    .slick-slider
    .slick-list
    .slick-track
    .slick-slide[aria-hidden="true"]:not([tabindex="-1"])
    + .slick-cloned[aria-hidden="true"] {
    transform: translateY(0px);
  }

  .hero_large_slider_div .slick-slider .slick-prev::before {
    position: absolute;
    color: rgb(29, 29, 29);
    font-size: 24px;
    margin-left: 170px;
    margin-top: 130px;
  }

  .hero_large_slider_div .slick-slider .slick-prev {
    z-index: 1;
  }

  .hero_large_slider_div .slick-slider .slick-next::before {
    position: absolute;
    color: rgb(29, 29, 29);
    font-size: 24px;
    margin-left: -200px;
    margin-top: 130px;
  }
}

@media (min-width: 1200px) and (max-width: 1560px) {
  .hero_large_slider_inside_div {
    width: 220px !important;
  }

  .hero_large_slider_div .slick-slider {
    width: 700px;
  }

  .hero_large_slider_inside_div img {
    margin-left: 32px;
  }

  .hero_large_slider_div .slick-slider .slick-prev::before {
    position: absolute;
    color: rgb(29, 29, 29);
    font-size: 24px;
    margin-left: 550px;
    margin-top: 130px;
  }

  .hero_large_slider_div .slick-slider .slick-prev {
    z-index: 1;
  }

  .hero_large_slider_div .slick-slider .slick-next::before {
    position: absolute;
    color: rgb(29, 29, 29);
    font-size: 24px;
    margin-left: -120px;
    margin-top: 130px;
  }
}
